/* layout */
.section {
  padding: .5rem 1.5rem; }

#searchValue {
  width: auto; }

#searchLabel {
  line-height: 2.3; }

/* set decoration and color for tags */
a {
  color: #00d1b2; }

a:hover {
  text-decoration: none;
  color: #005649; }

a.tag:hover {
  text-decoration: none;
  background-color: #005649; }

/* responsive layout: shortcuts are useless on mobile devices */
@media screen and (max-width: 900px) {
  #exportShortcut, #alphabetShortcut {
    display: none; } }

/* fieldset layout */
fieldset {
  margin: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px; }

legend {
  border-left: #cccccc 1px solid;
  border-right: #cccccc 1px solid;
  padding: 0 .5em; }

/* indicator of required field validation */
input:required {
  transition: box-shadow 1s ease-out; }

input:invalid {
  box-shadow: -5px 0 red;
  border-left: none; }

input:required:valid {
  box-shadow: -5px 0 limegreen;
  border-left: none; }

/* align icon after field */
.field-body span.icon {
  padding-top: 15px; }

/* icon for submit button */
input[type="submit"] {
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }
