  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label" for="%field1%">%field4%</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" id="%field1%" name="%field1%" type="%field2%" %field3% value="%field5%" placeholder="%field6%" %field7% />
        </div>
      </div>
      %field8%
    </div>
  </div>
