<form id="edit" method="post" action="%field1%">
  %field2%
  <div class="buttons field is-grouped is-grouped-centered">
    <p class="control">
      <input type="hidden" name="searchField" value="%field3%" />
      <input type="hidden" name="searchOperator" value="%field4%" />
      <input type="hidden" name="searchValue" value="%field5%" />
      <input type="hidden" name="action" value="%field6%" />
      <input type="hidden" name="id" value="%field7%" />
      <input type="hidden" name="exportFormat" value="" />

      %field8%

    </p>
  </div>
</form>
